<?xml version="1.0"?>
<!--
/**
 * Scommerce InfiniteScrolling Module module file for define module name and version of the module
 * @category   Scommerce
 * @package    Scommerce_OptimiserBase
 * @author     Scommerce Mage <core@scommerce-mage.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Scommerce_OptimiserBase" setup_version="2.0.3">
        <sequence>
            <module name="Scommerce_Core"/>
        </sequence>
    </module>
</config>
